<div class="footer">
	<script type="text/javascript" src="{{ base_url('public/bootstrap/js/scripts.js') }}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</div>
