{% extends "/partialsPerso/layoutPerso.twig" %}
{% block title %}Le Chat de Sylvain Torrenti{% endblock %}


{% block content %}
    <!-- chat-area -->
        <input hidden id="loggedId" value={{ userInfo.id }}>
    <section class="message-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area">
                        <!-- chatlist -->
                        <div class="chatlist">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">                                   
                                    <div class="modal-body">
                                        <!-- chat-list -->
                                        <div class="chat-lists">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                                                    <!-- chat-list -->
                                                    <div class="chat-list">
                                                        {% for user in users %}
                                                            <a href="chatPerso/{{ user.id|e }}" class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                 <img class="img-fluid" src="public/image/profile.png" alt="user img">
                                                                </div>
                                                                <div class="flex-grow-1 ms-3">
                                                                    <h3>{{ user.name|e }}</h3>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chatlist -->
                        <!-- chatbox -->
                        <div class="chatbox">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="msg-head">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="d-flex align-items-center">                                                    
                                                    <div class="flex-shrink-0">
                                                        <img class="img-fluid" src="public/image/profile.png" alt="user img">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h3>{{ userInfo.name }}</h3>
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="msg-body">
                                            <ul>                                            
                                                <div class="msg-body" id="discussion">         
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="send-box">
                                        <form method="POST" id="chat" enctype="multipart/form-data">
                                             <div class="col-12 saisie main">
                                                <div class="input-group-append"> 
                                                    <input type="text" name="texte" id="texte" placeholder="Entrez votre texte" required maxlength="500">
                                                    <input type="file" name="file" id="file" class="btn-post" accept=".jpg,.jpeg,.png">
                                                    <button class="btn-post"  id="valid">Poster</button>
                                                </div>
                                                <div class="main">
		                                            <button class="btn-post"><a href="logOut">Log Out</a></button>
	                                            </div>
                                            </div>
                                        </form>                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatbox -->
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- chat-area -->
{% endblock %}


